@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model ProductDetailsVM
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @foreach (var url in Model.ImageURLs)
                    {
                        <div class="product-preview">
                            <img src="@url" alt="@Model.Name">
                        </div>
                    }
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @foreach (var url in Model.ImageURLs)
                    {
                        <div class="product-preview">
                            <img src="@url" alt="@Model.Name">
                        </div>
                    }
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.Name</h2>
                    <div>
                        <div class="product-rating">
                            @if (Model.AverageScore > 0)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star-o"></i>
                            }
                            @if (Model.AverageScore > 1)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star-o"></i>
                            }@if (Model.AverageScore > 2)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star-o"></i>
                            }@if (Model.AverageScore > 3)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star-o"></i>
                            }@if (Model.AverageScore > 4)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        </div>
                        <a class="review-link">
                            @if (Model.NumOfReviews == 0)
                            {
                                <span>Chưa có đánh giá nào.</span>
                            }
                            else
                            {
                                <span>@Model.NumOfReviews đánh giá</span>
                            }
                        </a>
                    </div>
                    <div>
                        <h3 class="product-price">@Model.Price</h3>
                    </div>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Số lượng
                            <div class="input-number">
                                <input type="number" value="1" id="product-details-quantity">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn" type="button" onclick="addToCart('@Model.Id',parseInt(document.getElementById('product-details-quantity').value))"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#" onclick="addToFavList('@Model.Id')"><i class="fa fa-heart-o"></i> Thêm vào danh sách yêu thích</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="/Product/List?categories=@(Model.CategoryId)">@Model.CategoryName</a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
                        <li><a data-toggle="tab" href="#tab2">Đánh giá (@Model.NumOfReviews)</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    @foreach (var line in Model.Description.Split('\n'))
                                    {
                                        <p>@line</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            @if (Model.NumOfReviews > 0)
                            {
                                <div class="row">
                                    <div id="rating-wrapper"></div>
                                    <div id="reviews-wrapper"></div>
                                    @Html.Partial("_ReviewForm", Model.Id);
                                </div>

                                <div id="paginator-wrapper" class="row"></div>
                            }
                            else
                            {
                                <div class="row">
                                    <h4>Chưa có đánh giá cho sản phẩm này</h4>
                                </div>
                            }
                        </div>
                        <!-- /tab2  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<div class="section">
    <div class="container">
        <div class="row" id="product-carousel-wrapper">
            <partial name="_ProductCarousel" model="@ViewBag.RelatedProductCarousel" />
        </div>
    </div>
</div>



<script>
var getPaginatorPartial = (page, pageSize, total) => {
    fetch(`/Paginator/GetPaginatorPartial?page=${page}&pageSize=${pageSize}&total=${total}`).then(re => re.text()).then(data => document.getElementById('paginator-wrapper').innerHTML = data);
    getReviewsPartial(page);
}

function getReviewsPartial(page) {
        console.log('get reviews of page ' + page);
    fetch('/Product/GetReviewsPartial/@Model.Id?page=' + page).then(re => re.text()).then(data => document.getElementById('reviews-wrapper').innerHTML = data);
}

let total = parseInt('@Model.NumOfReviews');
if (total > 0) {
    fetch('/Product/GetRatingPartial/@Model.Id').then(re => re.text()).then(data => document.getElementById('rating-wrapper').innerHTML = data);
    getPaginatorPartial(1, 5, total, getReviewsPartial);
}
</script>