@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int From = (Model.Page - 1) * Model.PageSize + 1;
    int To = (Model.Page * Model.PageSize > Model.Total) ? Model.Total : Model.Page * Model.PageSize;
    int LastPage = (int)Math.Ceiling((double)Model.Total / Model.PageSize);
    int Displays = 4;
}
@model PaginatorVM
<!-- store bottom filter -->
<div class="store-filter clearfix">
    <span class="store-qty">Hiển thị từ @From đến @To trên @Model.Total SP</span>
    <ul class="store-pagination">
        @if (Model.Page > 1)
        {
            if (Model.Page == 2)
            {
                <li><a style="cursor: pointer;" onclick="getPaginatorPartial(1,'@Model.PageSize','@Model.Total')"><i class="fa fa-angle-left"></i></a></li>
            }
            else
            {
                <li><a style="cursor: pointer;" onclick="getPaginatorPartial('@(Model.Page-1)','@Model.PageSize','@Model.Total')"><i class="fa fa-angle-left"></i></a></li>
            }
            <li><a style="cursor: pointer;" onclick="getPaginatorPartial(1,'@Model.PageSize','@Model.Total')">1</a></li>
        }

        @if (Model.Page - Displays > 2)
        {
            <li>...</li>
            for (int p = Model.Page - Displays; p <= Model.Page - 1; p++)
            {
                <li><a style="cursor: pointer;" onclick="getPaginatorPartial('@p','@Model.PageSize','@Model.Total')">@p</a></li>
            }
        }
        else
        {
            for (int p = 2; p <= Model.Page - 1; p++)
            {
                <li><a style="cursor: pointer;" onclick="getPaginatorPartial('@p','@Model.PageSize','@Model.Total')">@p</a></li>
            }
        }

        <li class="active">@Model.Page</li>

        @if (Model.Page + Displays < LastPage - 1)
        {
            for (int p = Model.Page + 1; p <= Model.Page + Displays; p++)
            {
                <li><a style="cursor: pointer;" onclick="getPaginatorPartial('@p','@Model.PageSize','@Model.Total')">@p</a></li>
            }
            <li>...</li>
        }
        else
        {
            for (int p = Model.Page + 1; p <= LastPage - 1; p++)
            {
                <li><a style="cursor: pointer;" onclick="getPaginatorPartial('@p','@Model.PageSize','@Model.Total')">@p</a></li>
            }
        }

        @if (Model.Page < LastPage)
        {
            <li><a style="cursor: pointer;" onclick="getPaginatorPartial('@LastPage','@Model.PageSize','@Model.Total')">@LastPage</a></li>
            <li><a style="cursor: pointer;" onclick="getPaginatorPartial('@(Model.Page+1)', '@Model.PageSize', '@Model.Total')"><i class="fa fa-angle-right"></i></a></li>
        }
    </ul>
</div>
<!-- /store bottom filter -->

<script>
    
</script>