@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    string[] Categories = new string[] { "Tất cả", "Vi Điều Khiển - Nhúng", "Module Ứng Dụng", "Cảm Biến", "Linh Kiện Điện Tử", "IC Chức Năng", "Thiết Bị Chế Tạo", "Dụng Cụ, Phụ Kiện", "Connector", "Sản Phẩm Combi - DIY", "Phụ Kiện Điện Thoại" };


    string GetPostfix(string field)
    {
        if (ViewBag.sortBy == $"{field} asc")
            return "&uarr;";
        if (ViewBag.sortBy == $"{field} desc")
            return "&darr;";
        return "";
    }
    int total = (int)ViewBag.total;
    int lastPage = total / 30;
    int currentPage = (int)ViewBag.page;
}

@model IList<ProductDataVM>

<div class="x_panel">
    <div class="x_title">
        <h2>Quản lý sản phẩm</h2>
        <ul class="nav navbar-right panel_toolbox">
            @for (int i = 0; i <= 10; i++)
            {
                <li>
                    <a onclick="selectCategory('@i')" class="@(ViewBag.orderStateId==i?"selected-category":"")">@Categories[i]</a>
                </li>
            }
            <li>
                <input type="text" class="input" placeholder="Tìm kiếm" oninput="updateKeywordProductTable(this)" value="@ViewBag.keyword" />
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th onclick="updateSortProductTable('productId')">Mã sản phẩm @Html.Raw(GetPostfix("productId"))</th>
                    <th onclick="updateSortProductTable('name')">Ngày tạo @Html.Raw(@GetPostfix("name"))</th>
                    <th onclick="updateSortProductTable('createdAt')">Ngày tạo @Html.Raw(@GetPostfix("createdAt"))</th>
                    <th onclick="updateSortProductTable('category')">Danh mục SP @Html.Raw(GetPostfix("category"))</th>
                    <th onclick="updateSortProductTable('price')">Giá @Html.Raw(GetPostfix("price"))</th>
                    <th>Hình ảnh</th>
                    <td>Thao tác</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model)
                {
                    <tr>
                        <td>@row.Id</td>
                        <td>@row.Name</td>
                        <td>@row.CreatedAt</td>
                        <td>@row.Category</td>
                        <td>@row.Price</td>
                        <td>
                            <img src="@row.ThumbnailURL" style="width:100px;" />
                        </td>
                        <td>
                            <button class="btn">Xóa</button>
                            <button class="btn">Sửa</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div hidden id="productTable-sortBy">@ViewBag.sortBy</div>
        <div hidden id="productTable-keyword">@ViewBag.keyword</div>
        <div hidden id="productTable-categoryId">@ViewBag.categoryId</div>
        <div hidden id="total-products">@ViewBag.total</div>

        @if (lastPage > 1)
        {
            <nav aria-label="...">
                <ul class="pagination">
                    @if (currentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">
                                1
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" onclick="changeProductPage('@(currentPage-1)')" href="#">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                    }
                    @for (int page = 2; page < lastPage; page++)
                    {
                        if (page == currentPage)
                        {
                            <li class="page-item active">
                                <span class="page-link">
                                    @currentPage
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        }
                        if (page != currentPage && page >= currentPage - 5 && page <= currentPage + 5)
                        {
                            <li class="page-item"><a class="page-link" href="#" onclick="changeProductPage('@(page)')">@(page)</a></li>
                        }

                    }
                    @if (currentPage == lastPage)
                    {
                        <li class="page-item active">
                            <span class="page-link">
                                @lastPage
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="#" onclick="changeProductPage('@lastPage')">@(lastPage)</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="changeProductPage('@(currentPage+1)')">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>





<style>
    table tr th:hover {
        cursor: pointer;
    }

    .selected-category {
        background-color: #F5F7FA;
    }
</style>