@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Orders = Model.ToList();
    var page = Orders.Count / 5;
    var OrderStateId = ViewBag.OrderStateId;
}
@using ElectronicComponentsShop.DTOs;
@model IEnumerable<UserOrderDTO>
<div style="display:flex; margin-bottom: 10px;">
    <a href="#" onclick="GetUserOrders(1,0)" style="width:20%; color:@(OrderStateId==0?"#D10024":"black");">Tất cả</a>
    <a href="#" onclick="GetUserOrders(1,1)" style="width:20%; color:@(OrderStateId==1?"#D10024":"black");">Chờ xử lý</a>
    <a href="#" onclick="GetUserOrders(1,2)" style="width:20%; color:@(OrderStateId==2?"#D10024":"black");">Đã hủy</a>
    <a href="#" onclick="GetUserOrders(1,3)" style="width:20%; color:@(OrderStateId==3?"#D10024":"black");">Đang giao</a>
    <a href="#" onclick="GetUserOrders(1,4)" style="width:20%; color:@(OrderStateId==4?"#D10024":"black");">Đã giao</a>
</div>
<table class="table">
    <thead>
    </thead>
    <tbody>
        @for (int i = 0; i < Orders.Count; i++)
        {
            <tr style="border:0.5px; margin-top:2px;">
                <td>@(i+1)</td>
                <td style="display:flex; flex-direction:column;">
                    @foreach (var item in Orders[i].Items)
                    {
                        <div style="display:flex;">
                            <a href="@item.ProductURL" title="@item.ProductName">
                                <img src="@item.ProductThumbnailURL" style="width:100px;" />
                            </a>
                            <span>@item.Quantity x @item.Price.ToString("0,0").Replace(',', '.')đ</span>
                        </div>
                    }
                </td>

                <td style="font-size:16px;">
                    <strong>
                        Tổng cộng:
                        <text style="color:red">@Orders[i].Items.Sum(i => i.Price * i.Quantity).ToString("0,0").Replace(',', '.')đ</text>
                    </strong>
                </td>
                <td>Ngày tạo: @Orders[i].CreatedAt</td>
                <td>
                    <div>
                        Trạng thái: @Orders[i].OrderStateName
                    </div>
                    <div>
                        Cập nhật lần cuối: @(Orders[i].ModifiedAt.HasValue?Orders[i].ModifiedAt: "Chưa cập nhật")
                    </div>
                </td>
                @if(Orders[i].OrderStateId==1 || Orders[i].OrderStateId==3)
                {
                    <td>
                        <button class="btn" onclick="cancelUserOrder('@Orders[i].Id', '@(page)', '@OrderStateId')">Hủy</button>
                    </td>
                }    
            </tr>
        }
    </tbody>
</table>
@if (page == 0)
{
    <p>Không có đơn hàng nào.</p>
}
else
{
    <a onclick="GetUserOrders('@(page+1)', '@ViewBag.OrderStateId')">Xem thêm</a>
}

<style>
    a:hover{
        cursor:pointer;
    }
</style>